USE [master]
GO
/****** Object:  Database [InvenTur]    Script Date: 29/07/2024 18:05:14 ******/
CREATE DATABASE [InvenTur]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InvenTur', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InvenTur.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InvenTur_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InvenTur_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InvenTur].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InvenTur]
GO
/****** Object:  Table [dbo].[tbCategoriaA]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategoriaA](
	[CATA_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[LOC_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATA_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategoriaB]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategoriaB](
	[CATB_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[LOC_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATB_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbCategoriaC]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCategoriaC](
	[CATC_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[LOC_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLocal]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLocal](
	[LOC_CODIGO] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOC_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPesquisa]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPesquisa](
	[PES_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[PES_MUNICIPIO] [varchar](250) NOT NULL,
	[PES_CODIBGE] [varchar](250) NOT NULL,
	[PES_STATUS] [varchar](250) NOT NULL,
	[PES_ESTADO] [varchar](250) NOT NULL,
	[PES_DATAINICIO] [datetime] NULL,
	[PES_DATATERMINO] [datetime] NULL,
	[USU_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PES_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PES_CODIBGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPesquisaLocal]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPesquisaLocal](
	[PESL_CODIGO] [int] NOT NULL,
	[PES_CODIGO] [int] NULL,
	[LOC_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PESL_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuario]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuario](
	[USU_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOME] [varchar](250) NOT NULL,
	[USU_CPF] [varchar](11) NOT NULL,
	[USU_SENHA] [varchar](256) NULL,
	[USU_EMAIL] [varchar](250) NOT NULL,
	[USU_TIPO] [varchar](50) NOT NULL,
	[USU_STATUS] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USU_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_NOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_SENHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USU_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarioLocal]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarioLocal](
	[USL_CODIGO] [int] NOT NULL,
	[USU_CODIGO] [int] NULL,
	[LOC_CODIGO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USL_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsuarioPesquisa]    Script Date: 29/07/2024 18:05:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsuarioPesquisa](
	[USUPESQ_CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[PES_COD] [int] NULL,
	[USU_COD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USUPESQ_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbCategoriaA]  WITH CHECK ADD FOREIGN KEY([LOC_CODIGO])
REFERENCES [dbo].[tbLocal] ([LOC_CODIGO])
GO
ALTER TABLE [dbo].[tbCategoriaB]  WITH CHECK ADD FOREIGN KEY([LOC_CODIGO])
REFERENCES [dbo].[tbLocal] ([LOC_CODIGO])
GO
ALTER TABLE [dbo].[tbCategoriaC]  WITH CHECK ADD FOREIGN KEY([LOC_CODIGO])
REFERENCES [dbo].[tbLocal] ([LOC_CODIGO])
GO
ALTER TABLE [dbo].[tbPesquisa]  WITH CHECK ADD FOREIGN KEY([USU_CODIGO])
REFERENCES [dbo].[tbUsuario] ([USU_CODIGO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbPesquisaLocal]  WITH CHECK ADD FOREIGN KEY([LOC_CODIGO])
REFERENCES [dbo].[tbLocal] ([LOC_CODIGO])
GO
ALTER TABLE [dbo].[tbPesquisaLocal]  WITH CHECK ADD FOREIGN KEY([PES_CODIGO])
REFERENCES [dbo].[tbPesquisa] ([PES_CODIGO])
GO
ALTER TABLE [dbo].[tbUsuarioLocal]  WITH CHECK ADD FOREIGN KEY([LOC_CODIGO])
REFERENCES [dbo].[tbLocal] ([LOC_CODIGO])
GO
ALTER TABLE [dbo].[tbUsuarioLocal]  WITH CHECK ADD FOREIGN KEY([USU_CODIGO])
REFERENCES [dbo].[tbUsuario] ([USU_CODIGO])
GO
ALTER TABLE [dbo].[tbUsuarioPesquisa]  WITH CHECK ADD FOREIGN KEY([PES_COD])
REFERENCES [dbo].[tbPesquisa] ([PES_CODIGO])
GO
ALTER TABLE [dbo].[tbUsuarioPesquisa]  WITH CHECK ADD FOREIGN KEY([USU_COD])
REFERENCES [dbo].[tbUsuario] ([USU_CODIGO])
GO
USE [master]
GO
